*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.col-md-4{
    width: 33.33%;
    float: left;
    padding: 10px;
    margin: 0px;
}

.heading{
    
    color: white;
}

.fooddiv{
}

.text{
    text-justify:auto;
    text-align: justify;
}

.head{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.boundary{
    border: 2px solid black;
}
.topic{
    background-color: black;
    margin-top: 0px;
    width: 150px;
    text-align: center;
}
.float{
    float: right;
    height: 40px;    
}
.about{
    margin-top: 40px;
    padding: 0px 10px 10px 10px;
}
.container-fluid{    
    padding: 0px;
    background-color: grey;
}
.navbar {
    padding: 0;
    background-color: gray;
}
.navbar-brand {
    margin-left: 1rem;
    padding-top: 20px;
}
h1{
    margin-bottom: -3px;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.collapse .navbar-nav, .collapse .mr-auto, .navbar-collapse .navbar-nav, .navbar-collapse .mr-auto{
    margin-left: 800px;
}
.collapse a{
    font-weight: 700;
    font-size: x-large;
}
.navbar-collapse a{
    font-weight: 700;
    font-size: x-large;
}
@media(max-width:991px) and (min-width:768px){
    .col-md-4{
    width: 50%;
    float: left;
    padding: 10px;
    margin: 0px;
}

.heading{
    text-align: end;     
}

.fooddiv{
}

.text{
    text-justify:auto;
    text-align: justify;
}

.head{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.boundary{
    border: 2px solid black;
    padding: 10px;
}
.col-md-12{
    width: 100%;
    float: left;
    padding: 10px;
    margin: 0px;
}
.topic{
    background-color: black;
    margin-top: -30px;
    margin-right: -10px;
    width: 150px;
}
.float{
    float:    
}
.about{
    margin-top: 40px;
    padding: 0px 10px 10px 10px;
}
}
@media(max-width:767px){
    .col-md-4{
    width: 100%;
    float: left;
    padding: 10px;
    margin: 0px;
}

.heading{
    text-align: end;     
}

.fooddiv{
}

.text{
    text-justify:auto;
    text-align: justify;
}

.head{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.boundary{
    border: 2px solid black;
    padding: 10px;
}
.topic{
    background-color: black;
    margin-top: -10px;
    margin-right: -10px;
    width: 150px;
    text-align: center;
}
.float{
    float: right;
    height: 40px;    
}
.about{
    margin-top: 40px;
    padding: 0px 10px 10px 10px;
}
    .navbar-brand a{
    text-decoration: none;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: black;
    margin-right: 5px;
}
.collapse a{
    font-weight: 700;
    font-size: x-large;
}
.navbar-collapse a{
    font-weight: 700;
    font-size: x-large;
}
.navbar-nav {
    background-color: darkgray !important;
}
.navbar ,.navbar-expand-lg ,.navbar-light {
    background-color: gray;
}
}
